.slider-container {
    width: 300px;
  margin: 1rem 0;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.slider-value {
  background-color: rgb(52, 134, 241,0.2);
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.slider-input {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 3px;
  background: #a0d1f5;
  outline: none;
}

.slider-input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #007acc;
  border-radius: 50%;
  cursor: pointer;
}

.slider-input:disabled {
  background: #ccc;
}
